/* General styles */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/Capture.jpg");
    background-size: cover;
    display:flex;
    justify-content: center;
}

.center {
    height: 50vw;
    display: flex;
    flex-direction: column;
}

/* Form styling */
form {
    margin: 40px 0;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 1vw;
}

#sign-in{
width:40vw;
align-items: center;
justify-content:center;
width: 50vw;

}
button{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
button:hover {
    background-color: darkgreen;
  }

a{
    text-decoration: none;
background-color: #4CAF50;
color: white;
padding: 5px 10px;
border-radius: 8px;
margin-top: 4vw;}
a:hover {
    background-color: darkgreen;
  }
