*{
box-sizing: border-box;
padding: 0;
margin: 0;
}
/* General styles */
body {
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    background-image: url("../assets/Capture.jpg");
    background-size: cover;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
}
/* User List styling */
.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    word-wrap: break-word;
}
/* Table styling */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th,
  .user-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid green;
  }
  
  .user-table th {
    background-color: green;
    color: white;
  }
  
  .user-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .user-table tr:hover {
    background-color: #ddd;
  }
  
  .user-table button {
    margin: 0 1vw;
    padding: 0.4vw 1vw;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  .user-table button:hover {
    background-color: darkgreen;
  }
  .user-table .edit{
    margin-bottom: 0.5vw;
  }


/* Form styling */
#updatingContainer{
width: 100%;

}
form {
    margin: 40px 0;
    text-align: center;
    display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
height: 7vw;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 1vw;
}
button{
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}
a:hover {
    background-color: darkgreen;
  }

a{
    text-decoration: none;
background-color: #4CAF50;
color: white;
padding: 5px 10px;
border-radius: 8px;
margin-top: 4vw;
}
h3{
    text-align: center;
    margin-top:4VW ;
}