.left-form{
    -fx-background-color:linear-gradient(to bottom right, #801408, #EB5D48);
    -fx-border-color:#000;
    -fx-border-width:.4px 0px .4px .4px;
}

.right-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .4px 0px;
}

.close{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.close:hover{
    -fx-background-color:#ff3547;
}

.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:#000;
    -fx-border-width:.4px;
    -fx-border-radius:4px;
    -fx-font-size:13px;
    -fx-font-family:"Arial";

}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-color:linear-gradient(to bottom right, #85291f, #EB5D48);
    -fx-border-width:.8px;
}

.login-btn{
    -fx-background-color:linear-gradient(to bottom, #85291f,#EB5D48);
    -fx-background-radius:5px;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}
.login-btn:hover{
    -fx-background-color:linear-gradient(to bottom, #f1584a, #f3402d);
}